---
import cn from "clsx"
import { baseStyles } from "../styles/base";

const { headerHeight } = baseStyles
---

<header class={cn("w-full z-10 sticky top-0 flex px-10 bg-white", headerHeight)}>
  <nav class="flex items-center justify-end gap-x-4 w-full py-2" title="Top Navigation">
    <div class="logo flex">
      <a href="/">
        <h1 class="text-xl font-bold">Documentation</h1>
      </a>
    </div>
    <div class="flex-1"></div>
  </nav>
</header>