---
import { SidebarElement, SidebarSection } from "../../../nitro.config";
import cn from "clsx";
import { baseStyles } from "../../../styles/base";

export interface Props {
  elements: SidebarElement[];
  currentPage: string;
}

const { elements, currentPage } = Astro.props as Props;
const currentPageMatch = currentPage.slice(1);

// SIDEBAR is a flat array. Group it by sections to properly render.

const sidebarSections = elements.reduce<SidebarSection[]>((col, item, i) => {
  // If the first item is not a section header, create a new container section.
  if (i === 0) {
    if (!item.header) {
      const pesudoSection = { text: "" };
      col.push({ ...pesudoSection, children: [], collapsible: true });
    }
  }
  if (item.header) {
    col.push({ ...item, children: [], collapsible: item.collapsible ?? false });
  } else {
    col[col.length - 1].children.push(item);
  }
  return col;
}, []);
---

<nav
  class={cn("w-full sticky", baseStyles.sidebar.topOffset)}
  aria-labelledby="grid-left"
>
  <ul class="h-full overflow-x-visible overflow-y-auto max-h-screen">
    {sidebarSections.map((section) => (
      <li>
        <details open>
          <summary class="flex flex-row cursor-pointer">
            <h2 class="my-auto text-base font-bold py-4 uppercase mr-auto">
              {section.text}
            </h2>
            <svg
              class="my-auto"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 1 16 16"
              width="16"
              height="16"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M6.22 3.22a.75.75 0 011.06 0l4.25 4.25a.75.75 0 010 1.06l-4.25 4.25a.75.75 0 01-1.06-1.06L9.94 8 6.22 4.28a.75.75 0 010-1.06z"
              />
            </svg>
          </summary>
          <ul>
            {section.children.map((child) => (
              <li
                class={cn(
                  "flex text-base py-1 cursor-pointer hover:bg-slate-200",
                  currentPageMatch === child.link
                    ? cn(
                        baseStyles.sidebar.currentItemTextColor,
                        "font-semibold"
                      )
                    : ""
                )}
              >
                <a class="w-full" href={`${Astro.site.pathname}${child.link}`}>
                  {child.text}
                </a>
              </li>
            ))}
          </ul>
        </details>
      </li>
    ))}
  </ul>
</nav>

<!-- <script is:inline>
  window.addEventListener("DOMContentLoaded", (event) => {
    var target = document.querySelector('[aria-current="page"]');
    if (target && target.offsetTop > window.innerHeight - 100) {
      document.querySelector(".nav-groups").scrollTop = target.offsetTop;
    }
  });
</script> -->

<style>
  details[open] > summary svg {
    transform: rotate(90deg);
  }
</style>
