<header class="w-full z-10 h-16 flex sticky top-0">
  <nav class="flex items-center justify-end gap-x-4 w-full py-2" title="Top Navigation">
    <div class="logo flex">
      <a href="/">
        <h1>Documentation</h1>
      </a>
    </div>
    <div class="flex-1"></div>
  </nav>
</header>