---
import { AstroPropHeader } from "nitro";
import config from "../../nitro.config.mjs";

export interface Props {
  headers: AstroPropHeader[];
}

const { headers } = Astro.props as Props;
---

<>
  <h2 class="mb-4">On this page</h2>
  <ul>
    {headers
      .filter(
        ({ depth }) =>
          depth >= config.sidebar.rightSidebar.headerMinDepth &&
          depth <= config.sidebar.rightSidebar.headerMaxDepth
      )
      .map((header) => (
        <li class="group text-sm py-0.5 my-2.5 pl-4 border-l-2 border-slate-300 hover:border-slate-700">
          <a
            class="truncate block text-slate-600 group-hover:text-slate-900"
            href={`#${header.slug}`}
          >
            {header.text}
          </a>
        </li>
      ))}
  </ul>
</>
